
*{
  padding:0vw;
  /* overflow-x: hidden; */
}

/* App.css */
.ant-table-thead > tr > th {
  background-color: #36304A !important;
  color: #ffffff !important;
  font-size: 16px;
  text-align: center;
  border-right: none !important;
}

.no-right-border .ant-table-thead > tr > th {
  border-right: none !important;
  
}


/* App.css */
.ant-table-thead > tr > th::before {
  display: none !important;
}

table{
  /* background: blue !important; */
  font-size:1vw !important;
  font-weight: bold;
  padding:0.75vw;

}


table tbody{
  box-shadow: 0 1px 3px rgba(0, 5, 0, 0.2);
  color:#606060;

}

/* 
table tbody tr td {

} */

.index_cel{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #404040;
  color:white;
  width:1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  overflow: hidden;
}


table thead{
  /* box-shadow: 0 1px 3px rgba(0, 5, 0, 0.2); */
  text-align: center;

}


.rating-green{
  /* background-color: green; */
  color:green
}


.table_button {
  background-color: #1890ff;       /* AntD-like blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table_button:hover {
  background-color: #1677cc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.table_button:active {
  background-color: #0e5ea8;
}

.table_button:disabled {
  background-color: #d9d9d9;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}


@media (max-width: 576px) {
  /* Styles for screens 768px and smaller (like tablets and phones) */

  table thead{
    /* box-shadow: 0 1px 3px rgba(0, 5, 0, 0.2); */
    text-align: center;
    font-size:1vw !important;
    color:red;
  
  }
  table tbody{
    font-size:3vw !important;
    font-weight: bold;
    padding:0.75vw;
  
  }

  .index_cel{

    width:5.5vw;
    height: 5.5vw;

  }

  .ant-table-thead > tr > th {
    font-size: 3vw;
  }

  .table_button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;

  }
  




}






